FUDO_API_URL="https://api.fu.do"
FUDO_API_SECRET="qXYg5mkPwUZBTv04W2zee5aS"
DATABASE_URL="postgresql://neondb_owner:npg_IpjX6Jx1kgSs@ep-calm-frost-aiekn57x-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
FRONTEND_URL="fudo-theta.vercel.app"
ADMIN_API_KEY="ALEX"
ENCRYPTION_KEY="pDND-f5koXOu8GpFCbK4fomj7PqWtpTM8-JQyurtduk="